h1, h2, h3, h4, h5, h6 { font-family: 'Source Serif Pro', serif; }

@font-face{
    font-family:'mplus';
    src:url('mplus-2m-regular.tff') format('truetype');
}
.serif{
    font-family: 'Source Serif Pro', serif;
    font-weight:bold;

}

.sanserif{
    font-family: 'mplus', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size:10px;
}


#homebody{
    font-size:.9em;
    background-color: rgba(18, 22, 29, 0.2);
    font-family:'mplus', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

}

#homesidebar{
    background-color: white;
    max-height:600px;
    overflow:hidden;
    border-radius: 3px;

}
#homecontentcolumn{
    background-color:white;
    min-height:700px;
    padding:0;
    border-radius: 3px;
}

/*navigation bar */

#stickybar{
    height:75px;
}

.navbarimage{
    height:45px;
    width:45px;
    padding-left:0px;

}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
  height: 55px;
  line-height: 55px;
}
.nav-link{
  padding-top: 0;
  padding-bottom: 0;
  height: 55px;
  line-height: 55px;
}



.sidebarcontent{
    position:relative;
    word-break:break-all;
}

.username{

}

.profileimagecontainer{
    position: relative
    width:100%;
    max-width:200px;
    margin:auto;
}


.profileimage {
    display:block;
    max-height:90%;
    max-width:90%;
    margin:auto;
}




.nobordercard{
    border:0;
}

#longdescription{
    padding-left:10px;
    max-height:300px;
}
#usercontentgallery{

    min-height:480px;
    overflow:hidden;

}

.contentimg{
    max-width:100%;

}

.buttons{
    display:block;
    margin:auto;
    text-align:center;
}

.btn-custom {
  background-color: hsl(114, 0%, 29%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878787", endColorstr="#494949");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#878787), to(#494949));
  background-image: -moz-linear-gradient(top, #878787, #494949);
  background-image: -ms-linear-gradient(top, #878787, #494949);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878787), color-stop(100%, #494949));
  background-image: -webkit-linear-gradient(top, #878787, #494949);
  background-image: -o-linear-gradient(top, #878787, #494949);
  background-image: linear-gradient(#878787, #494949);
  border-color: #494949 #494949 hsl(114, 0%, 23%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;

}

@media (min-width:768px){
    .mainbar{
    left:10px;
}
}


@media (max-width: 950px) {

	.card-deck-wrapper {margin-right:0;margin-left:0;}
	.card-deck {
	    display: block;
	    width: 100%;
	    margin-bottom: .75rem;
	    table-layout: fixed;
	    border-spacing: 1.25rem 0;
	}
	.card-deck .card {
	    display: block;
	    margin-bottom: .75rem;
	    vertical-align: top;
	}

  .card-deck .card:not(:first-child) {
    margin-left: 0px;
}

}
