{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Charatest!{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Profile Display Page">

    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/newcss.css' %}" />
    {% endblock %}

</head>


<!-- BODY ID = HOMEBODY -->
<body id="homebody" >
    <nav id="stickybar" class="navbar navbar-toggleable-sm navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'home' %}">Charatest</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                {% if request.user.is_authenticated %}
                <a href="{% url 'displayprofile' request.user.username %}">
                    <li class="nav-item nav-link">
                        {% if request.user.userprofile.picture %}

                                <img src="{{ request.user.userprofile.picture.url }}" class="rounded-circle navbarimage">

                        {% else %}
                            <a src="profileurl"><img src="{% static 'images/goat2.jpg' %}" class="rounded-circle navbarimage"></a>
                        {%  endif %}
                    </li>
                </a>

                <li class="nav-item nav-link">
                    <a scr="kyaraurl"><img src="{% static 'images/goat2.jpg' %}" class="rounded-circle navbarimage" ></a>
                </li>

                {% endif %}


          </ul>

          <ul class="navbar-nav mt-2 mt-lg-0">
            {% if request.user.is_authenticated %}
               <li class="nav-item">
               <a class="nav-link" href="{% url 'addkyara' %}">Create Character</a>
               </li>

              <li>
                <a class="nav-link" href="{% url 'account_logout' %}">Sign Out {{ user.username }}</a>
              </li>
            {% else %}

              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
              </li>
                <li class="nav-item">
                <a id="google_login" href="/accounts/google/login" class="nav-link">{%  trans "Google Login" %} </a>
                </li>

            {% endif %}
          </ul>
  </div>
</nav>


<div class ="container" id="maindiv">

    <div class="row justify-content-between mt-4 main">

{% block container %}
        {% block sidebar %}

        {% endblock sidebar %}

        {% block content %}

        {% endblock content %}

    </div>
</div>

{% endblock container %}
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
