body, html
{
    height:100%;
    min-height:100%;
}
#title{
    justify-content:center;
    
}
.container{
    height:100%;
    min-height:100%;
}
.main{
    height:80%;
    min-height:80%;
    
}

.sidebar{
    background-color:azure;
    height:50%;
}


.mainbar{
    left:20px;
}

#main-div{
    
}

#three{
    background-color: pink;
}

#navdiv{
    background-color: gainsboro;
}

.navbar {

}

