{% load static i18n %}

<div id="homesidebar" class="col-sm-12 col-md-3 p-4 sidebar">
    <div class="profileimagecontainer">
            {% if picture %}
                <img src="{{ picture.url }}" class="profileimage rounded-circle">
            {% else %}
                <img src="goat.jpg" class="profileimage rounded-circle">
            {%  endif %}
    </div>

    <div class="sidebarcontent mt-2 ">
        <h4 class="username">{{ profileowner.username }}</h4>
        <div id="shortdescription" class="smalltext">

            {% if profileDescription %}
            <div>
            {{ profileDescription }}
            </div>
            {% endif %}
        </div>
        <div class="buttons mt-2">
            <a href="{% url 'addfriend' %}"><button type="button" class="btn mt-2">Add</button></a>
        </div>

        {% if profileowner == request.user %}
            <div class="buttons mt-2">
                <a href="{% url 'editUserProfile' %}"><button type="button" class="btn mt-2">Edit profile</button></a>
            </div>
        {% endif %}
    </div>
</div>

