{% load static i18n %}
<div id="homecontentcolumn" class="col-sm-12 col-md-9 mainbar">
    <div class="nobordercard">
        <div class="card-body">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kyarapage">Chara</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="content">Content</a>
                </li>
            </ul>

        </div>

    <div id="longdescription" class="mt-2 mplus">
        <h5 class="serif">About</h5>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint oceeeecaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </div>

    <div id="usercontentgallery" class="mt-5 p-2">
        <div class="card-deck-wrapper">
            <div class="card-deck">

              <div class="card">
                  <img class="card-img-top contentimg" src="{% static 'images/goat1.jpg' %}">
                <div class="card-block">
                  <h4 class="card-title serif">Site Traffic</h4>
                  <p class="card-text"><strong>2,000</strong> Today
                    <br> 5,500 This Month
                    <br> 12,500 Last Month</p>

                </div>
              </div>


              <div class="card">
                  <img class="card-img-top contentimg" src="{% static 'images/goat1.jpg' %}">
                <div class="card-block">
                  <h4 class="card-title serif">Drafts</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloremque accusantium at sint quos corrupti.</p>
                </div>
              </div>

                                      <div class="card">
                  <img class="card-img-top contentimg" src="{% static 'images/goat1.jpg' %}">
                <div class="card-block">
                  <h4 class="card-title">Drafts</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloremque accusantium at sint quos corrupti.</p>
                </div>
              </div>

              <div class="card">
                  <img class="card-img-top contentimg" src="{% static 'images/goat1.jpg' %}">
                <div class="card-block">
                  <h4 class="card-title">Need help?</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloremque accusantium at sint quos corrupti.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
