{% load static i18n %}

<div id="homesidebar" class="col-sm-12 col-md-3 p-4 sidebar">
    <div class="profileimagecontainer">
            {% if picture %}
                <img src="{{ picture.url }}" class="profileimage rounded-circle">
            {% else %}
                <img src="../../charatest_project/templates/goat.jpg" class="profileimage rounded-circle">
            {%  endif %}
    </div>

    <div class="sidebarcontent mt-2 ">
        <h4 class="username">{{ profileowner.username }}</h4>
        <div id="shortdescription" class="smalltext">

            {% if profileDescription %}
            <div>
            {{ profileDescription }}
            </div>
            {% endif %}
        </div>
        <div class="buttons mt-2">
            <a href="{% url 'addfriend' %}"><button type="button" class="btn mt-2 btn-blue">Add</button></a>
        </div>

        {% if profileowner == request.user %}
            <div class="buttons mt-2 mb-4">
                <a href="{% url 'editUserProfile' %}"><button type="button" class="btn mt-2 btn-blue">Edit profile</button></a>
            </div>
        {% endif %}

        {% if friendslist %}
            <div class="friendslist">
            <h5>Friends</h5>
            <div class="mt-2">
            {% for friend in friendslist %}
                {% if friend.friend.userprofile.picture %}
                <img class = "friendimgtiny" src="{{ friend.friend.userprofile.picture.url }}">
                {% else %}
                 <img class = "friendimgtiny" src="{% static 'images/goat2.jpg' %}">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {%  endif %}
    </div>


</div>

